* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(../img/noise-bg.png);
    background-repeat: repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Mona Sans;
    src: url(../fonts/Mona-Sans-BoldWide.ttf);
}

$primary-color: #fff;
$secondary-color: #000;
$primary-font: 'Mona Sans', sans-serif;
$primary-font-color: #000;
$secondary-font-color: #CDD4E1;
$control-button-border: 0.0813rem solid #CDD4E1;
$dark-control-button-border: 0.0813rem solid #4C4F54;
$control-button-size: 4.375rem;
$sub-left: 25%;
$sub-top: 48%;
$add-top: 11%;
$add-left: 12%;
$padding-small: 2rem;
$padding-medium: 6rem;
$padding-large: 12rem;
$padding-xlarge: 27rem;
$padding-xxlarge: 30rem;

@mixin control-button {
  width: $control-button-size;
  height: $control-button-size;
  border-radius: 50%;
  border: $control-button-border;
  position: relative;
  cursor: pointer;
}

.dark-mode {
    #counter-txt {
      color: $secondary-font-color;
    }
  
    .switch-con {
      .light-mode-icon {
        display: block;
        cursor: pointer;
      }
  
      .dark-mode-icon {
        display: none;
      }
    }
  
    .control-button {
      border: $dark-control-button-border;

      .dark-sub,
      .dark-add {
        display: block;
      }
  
      .light-sub,
      .light-add {
        display: none;
      }
    }
}

body {
  background-color: $primary-color;
  transition: background-color 0.5s ease-in-out;

  &.dark-mode {
    background-color: $secondary-color;
    transition: background-color 0.5s ease-in-out;
  }
}

.switch-wrap {
  display: flex;
  justify-content: center;
}

.switch-con {
  margin-top: 4rem;
}

.light-mode-icon {
    display: none;
}

.dark-mode-icon {
  cursor: pointer;
}

// @media (prefers-color-scheme: dark) {
//     .light-mode-icon {
//       display: block;
//     }

//     .dark-mode-icon {
//         display: none;
//     }
// }

.counter-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .counter-txt {
    font-family: $primary-font;
    color: $primary-font-color;
    font-size: 7.5rem;
  }
  
    // @media (prefers-color-scheme: dark) {
    //   .counter-txt {
    //     color: $secondary-font-color;
    //   }
    // }
}

.sub-add-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: $padding-small;
  padding-right: $padding-small;
  position: fixed;
  bottom: 8%;
  left: 0;
  right: 0;

  @media (min-width: 768px) {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
  }

  @media (min-width: 1100px) {
    padding-left: $padding-large;
    padding-right: $padding-large;
  }

  @media (min-width: 1500px) {
    padding-left: $padding-xlarge;
    padding-right: $padding-xlarge;
  }

  @media (min-width: 1728px) {
    padding-left: $padding-xxlarge;
    padding-right: $padding-xxlarge;
  }
}

.control-button {
  @include control-button;
  position: relative;

  .light-sub {
    position: absolute;
    left: $sub-left;
    top: $sub-top;
  }

  .light-add {
    position: absolute;
    left: $add-left;
    top: $add-top;
  }

  .dark-sub {
    position: absolute;
    left: $sub-left;
    top: $sub-top;
    display: none;
   }
    

  .dark-add {
    position: absolute;
    left: $add-left;
    top: $add-top;
    display: none;
   }

  //  @media (prefers-color-scheme: dark) {
  //   .dark-sub,.dark-add {
  //       display: block;
  //   }

  //   .light-sub,.light-add {
  //     display: none;
  //   }
  //  }
}

   

